In [37]:
# Import modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

# Data loading

## Movie data

In [38]:
# Load films
movies_header = ['wikipedia_id', 'freebase_id', 'name', 'release_date', 'box_office_revenue', 'runtime', 'languages', 'countries', 'genres']
movies = pd.read_csv('data/movie.metadata.tsv', sep='\t', header=None, names=movies_header)
movies.head(5)
print(movies.shape)
#movies['runtime'].hist()

(81741, 9)

Observed issues: 

The date format is not constant, sometimes it's the year only, sometimes it's yyyy-mm-dd

Box office revenue is not always available: NaN + Should take into account inflation

For language, countries and genres there's a code in addition to the information (can we use it??)

## Character data

In [39]:
# Load characters
characters_header = ['wikipedia_movie_id','freebase_movie_id','movie_release_date','character_name','actor_birthdate','actor_gender','actor_height_meters','actor_ethnicity_freebase_id','actor_name','actor_age_at_movie_release','freebase_character_actor_map_id','freebase_character_id','freebase_actor_id']
characters = pd.read_csv('data/character.metadata.tsv', sep='\t', header=None, names=characters_header)
characters.sample(5)

,wikipedia_movie_id,freebase_movie_id,movie_release_date,character_name,actor_birthdate,actor_gender,actor_height_meters,actor_ethnicity_freebase_id,actor_name,actor_age_at_movie_release,freebase_character_actor_map_id,freebase_character_id,freebase_actor_id
238458,10189385,/m/02q4n7k,1963,NaN,NaN,NaN,NaN,NaN,Vasilis Kailas,NaN,/m/0b_qzdn,NaN,/m/0b_qzdl
429763,1880660,/m/0639bg,2005-12-07,General Otmin,1969-02-03,M,NaN,NaN,Shane Rangi,36.0,/m/03jq0t_,/m/09rlkw,/m/09gxf7
2761,26798968,/m/0bmb5y5,1938,NaN,1913-11-01,F,NaN,NaN,Judy Kelly,24.0,/m/0g9_yzy,NaN,/m/0bmd2np
230570,13292846,/m/03c0tv2,1988-03-30,Geraldine Woollencraft,NaN,F,NaN,NaN,Mary Ward,NaN,/m/0n4gm_w,/m/0n4kcrk,/m/0blhj2
28711,25487856,/m/09rt8gy,1946,NaN,1931-08-20,M,NaN,/m/0dryh9k,B. Padmanabham,14.0,/m/0gw0c56,NaN,/m/054_hxv

freebase_character_actor_map_id ?
movies are referred to by wikipedia id or freebase id
lots of data missing especially for: ethnicity, charcter name (maybe some characters aren't named in movies) , 
different date formats for release date

## IMDB data

In [40]:
imdb_top_1000 = pd.read_csv('data/imdb/imdb_top_1000.csv', thousands=',')

In [41]:
imdb_top_1000.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0

# Cleaning & Pre-processing of data

In [42]:
movies.describe()

       wikipedia_id  box_office_revenue       runtime
count  8.174100e+04        8.401000e+03  6.129100e+04
mean   1.740784e+07        4.799363e+07  1.118192e+02
std    1.098791e+07        1.121753e+08  4.360070e+03
min    3.300000e+02        1.000000e+04  0.000000e+00
25%    7.323695e+06        2.083193e+06  8.100000e+01
50%    1.777899e+07        1.063969e+07  9.300000e+01
75%    2.715573e+07        4.071696e+07  1.060000e+02
max    3.750192e+07        2.782275e+09  1.079281e+06

In [43]:
characters.describe()

       wikipedia_movie_id  actor_height_meters  actor_age_at_movie_release
count        4.506690e+05        154824.000000               292556.000000
mean         1.396975e+07             1.788893                   37.788523
std          1.079662e+07             4.379940                   20.587870
min          3.300000e+02             0.610000                -7896.000000
25%          3.759292e+06             1.676400                   28.000000
50%          1.189065e+07             1.750000                   36.000000
75%          2.366501e+07             1.830000                   47.000000
max          3.750192e+07           510.000000                  103.000000

In [44]:
# Function to remove encoding: 
remove_encoding = lambda x: np.nan if x == '{}' else \
    [w.replace(' Language', '').replace(' language', '') for w in re.findall(r'"(.*?)"', x)[1::2]]

In [45]:
movies['genres'] = movies['genres'].apply(remove_encoding)
movies['languages'] = movies['languages'].apply(remove_encoding)
movies['countries'] = movies['countries'].apply(remove_encoding)
movies.head()

,wikipedia_id,freebase_id,name,release_date,box_office_revenue,runtime,languages,countries,genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,[English],[United States of America],"[Thriller, Science Fiction, Horror, Adventure,..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,[English],[United States of America],"[Mystery, Biographical film, Drama, Crime Drama]"
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,[Norwegian],[Norway],"[Crime Fiction, Drama]"
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,[English],[United Kingdom],"[Thriller, Erotic thriller, Psychological thri..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,[German],[Germany],[Drama]

In [46]:
movies['countries'].apply(np.shape).min()

()

### Clean release dates

In [47]:
# Replace string 'release_date' column with 3 float columns ['release_year','release_month','release_day']

movies['release_date'] = movies['release_date'].astype('str') # Convert to string all dates
release_date = pd.DataFrame(movies['release_date'].str.split('-', expand=True).values, columns=['release_year','release_month','release_day']) # Split between days, months and year
movies[['release_year','release_month','release_day']] = release_date
movies = movies.drop('release_date',axis=1)

In [48]:
movies.head()

,wikipedia_id,freebase_id,name,box_office_revenue,runtime,languages,countries,genres,release_year,release_month,release_day
0,975900,/m/03vyhn,Ghosts of Mars,14010832.0,98.0,[English],[United States of America],"[Thriller, Science Fiction, Horror, Adventure,...",2001,08,24
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,NaN,95.0,[English],[United States of America],"[Mystery, Biographical film, Drama, Crime Drama]",2000,02,16
2,28463795,/m/0crgdbh,Brun bitter,NaN,83.0,[Norwegian],[Norway],"[Crime Fiction, Drama]",1988,None,None
3,9363483,/m/0285_cd,White Of The Eye,NaN,110.0,[English],[United Kingdom],"[Thriller, Erotic thriller, Psychological thri...",1987,None,None
4,261236,/m/01mrr1,A Woman in Flames,NaN,106.0,[German],[Germany],[Drama],1983,None,None

### Remove data that is out of this world

In [ ]:
def replace_outliers_with_nan(df, col, possible_range):
    df[col] = df[col].apply(lambda x: np.nan if x < possible_range[0] or x > possible_range[1] else x)

#### Movies

In [57]:
possible_movie_runtime_range = [0, 85 * 60] # 85 hours is the Guinness World Record for the longest movie - The Cure for Insomnia

In [58]:
replace_outliers_with_nan(movies, 'runtime', possible_movie_runtime_range)

In [59]:
movies.describe()

       wikipedia_id  box_office_revenue       runtime
count  8.174100e+04        8.401000e+03  61286.000000
mean   1.740784e+07        4.799363e+07     93.651871
std    1.098791e+07        1.121753e+08     51.513103
min    3.300000e+02        1.000000e+04      0.000000
25%    7.323695e+06        2.083193e+06     81.000000
50%    1.777899e+07        1.063969e+07     93.000000
75%    2.715573e+07        4.071696e+07    106.000000
max    3.750192e+07        2.782275e+09   5100.000000

In [61]:
movies[movies['runtime'] == 0]

,wikipedia_id,freebase_id,name,box_office_revenue,runtime,languages,countries,genres,release_year,release_month,release_day
42478,786716,/m/03c6bq,Dickson Experimental Sound Film,NaN,0.0,[English],[United States of America],[Short Film],1894,None,None

The real length of Dickson Experimental Sound Film is 17 seconds which rounded to minutes is 0.

#### Characters

In [52]:
possible_age_range = (0, 150)
possible_height_range = (0, 3)

In [54]:
replace_outliers_with_nan(characters, 'actor_age_at_movie_release', possible_age_range)
replace_outliers_with_nan(characters, 'actor_height_meters', possible_height_range)

In [55]:
characters.describe()

       wikipedia_movie_id  actor_height_meters  actor_age_at_movie_release
count        4.506690e+05        154809.000000               292175.000000
mean         1.396975e+07             1.748177                   37.890901
std          1.079662e+07             0.106249                   14.085909
min          3.300000e+02             0.610000                    0.000000
25%          3.759292e+06             1.676400                   28.000000
50%          1.189065e+07             1.750000                   36.000000
75%          2.366501e+07             1.830000                   47.000000
max          3.750192e+07             2.356000                  103.000000

### IMDB

In [90]:
imdb_top_1000['Runtime'].str.contains(r'\d+ min').value_counts()

True    1000
Name: Runtime, dtype: int64

In [91]:
imdb_top_1000['Runtime'] = imdb_top_1000['Runtime'].str.extract(r'(\d+) min', expand=False).astype(int)

In [92]:
imdb_top_1000.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0

In [93]:
imdb_top_1000.describe()

           Runtime  IMDB_Rating  Meta_score   No_of_Votes         Gross
count  1000.000000  1000.000000  843.000000  1.000000e+03  8.310000e+02
mean    122.891000     7.949300   77.971530  2.736929e+05  6.803475e+07
std      28.093671     0.275491   12.376099  3.273727e+05  1.097500e+08
min      45.000000     7.600000   28.000000  2.508800e+04  1.305000e+03
25%     103.000000     7.700000   70.000000  5.552625e+04  3.253559e+06
50%     119.000000     7.900000   79.000000  1.385485e+05  2.353089e+07
75%     137.000000     8.100000   87.000000  3.741612e+05  8.075089e+07
max     321.000000     9.300000  100.000000  2.343110e+06  9.366622e+08

In [94]:
imdb_top_1000.dtypes

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime            int64
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross            float64
dtype: object

# Exploratory Data Analysis

### Impact of release date

In [95]:
movies.head()

,wikipedia_id,freebase_id,name,box_office_revenue,runtime,languages,countries,genres,release_year,release_month,release_day
0,975900,/m/03vyhn,Ghosts of Mars,14010832.0,98.0,[English],[United States of America],"[Thriller, Science Fiction, Horror, Adventure,...",2001,08,24
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,NaN,95.0,[English],[United States of America],"[Mystery, Biographical film, Drama, Crime Drama]",2000,02,16
2,28463795,/m/0crgdbh,Brun bitter,NaN,83.0,[Norwegian],[Norway],"[Crime Fiction, Drama]",1988,None,None
3,9363483,/m/0285_cd,White Of The Eye,NaN,110.0,[English],[United Kingdom],"[Thriller, Erotic thriller, Psychological thri...",1987,None,None
4,261236,/m/01mrr1,A Woman in Flames,NaN,106.0,[German],[Germany],[Drama],1983,None,None

In [ ]:
movies.sample(5)