In [2]:
# Import modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

# Data loading

## Movie data

In [3]:
# Load films
movies_header = ['wikipedia_id', 'freebase_id', 'name', 'release_date', 'box_office_revenue', 'runtime', 'languages', 'countries', 'genres']
movies = pd.read_csv('data/movie.metadata.tsv', sep='\t', header=None, names=movies_header)
movies.head(5)
print(movies.shape)
#movies['runtime'].hist()

(81741, 9)

Observed issues: 

The date format is not constant, sometimes it's the year only, sometimes it's yyyy-mm-dd

Box office revenue is not always available: NaN + Should take into account inflation

For language, countries and genres there's a code in addition to the information (can we use it??)

## Character data

In [17]:
# Load characters
characters_header = ['wikipedia_movie_id','freebase_movie_id','movie_release_date','character_name','actor_birthdate','actor_gender','actor_height_meters','actor_ethnicity_freebase_id','actor_name','actor_age_at_movie_release','freebase_character_actor_map_id','freebase_character_id','freebase_actor_id']
characters = pd.read_csv('data/character.metadata.tsv', sep='\t', header=None, names=characters_header)
characters.sample(5)

,wikipedia_movie_id,freebase_movie_id,movie_release_date,character_name,actor_birthdate,actor_gender,actor_height_meters,actor_ethnicity_freebase_id,actor_name,actor_age_at_movie_release,freebase_character_actor_map_id,freebase_character_id,freebase_actor_id
290471,29102633,/m/0dln3k4,1981-06-21,NaN,1918-11-04,M,1.8,NaN,Cameron Mitchell,62.0,/m/0gw42bf,NaN,/m/07tvwy
206214,27937289,/m/0ch48cp,1973,NaN,1936-11-27,M,NaN,NaN,Joel Barcellos,36.0,/m/0h9fmsy,NaN,/m/0ch191z
255537,32002101,/m/0h37n51,2012-01-27,Cynthia,2001-11-03,F,NaN,NaN,Keeva Lynk,10.0,/m/0hg467r,/m/0hg467v,/m/0hg4681
216091,13701680,/m/03cfjzz,1965,NaN,NaN,NaN,NaN,NaN,John Pike,NaN,/m/0gc2sqb,NaN,/m/0gc2sqf
247510,34264786,/m/0hyq0wy,2011-12-09,NaN,1960-10-21,M,NaN,/m/048sp5,Mukesh,51.0,/m/0hyq0zp,NaN,/m/0bwqq2

freebase_character_actor_map_id ?
movies are referred to by wikipedia id or freebase id
lots of data missing especially for: ethnicity, charcter name (maybe some characters aren't named in movies) , 
different date formats for release date

## IMBD data

## Cleaning & Pre-processing of data

In [24]:
movies.describe()

       wikipedia_id  box_office_revenue       runtime
count  8.174100e+04        8.401000e+03  6.129100e+04
mean   1.740784e+07        4.799363e+07  1.118192e+02
std    1.098791e+07        1.121753e+08  4.360070e+03
min    3.300000e+02        1.000000e+04  0.000000e+00
25%    7.323695e+06        2.083193e+06  8.100000e+01
50%    1.777899e+07        1.063969e+07  9.300000e+01
75%    2.715573e+07        4.071696e+07  1.060000e+02
max    3.750192e+07        2.782275e+09  1.079281e+06

In [25]:
characters.describe()

       wikipedia_movie_id  actor_height_meters  actor_age_at_movie_release
count        4.506690e+05        154824.000000               292556.000000
mean         1.396975e+07             1.788893                   37.788523
std          1.079662e+07             4.379940                   20.587870
min          3.300000e+02             0.610000                -7896.000000
25%          3.759292e+06             1.676400                   28.000000
50%          1.189065e+07             1.750000                   36.000000
75%          2.366501e+07             1.830000                   47.000000
max          3.750192e+07           510.000000                  103.000000

In [12]:
# Function to remove encoding: 
remove_encoding = lambda x: np.nan if x == '{}' else \
    [w.replace(' Language', '').replace(' language', '') for w in re.findall(r'"(.*?)"', x)[1::2]]

In [13]:
movies['genres'] = movies['genres'].apply(remove_encoding)
movies['languages'] = movies['languages'].apply(remove_encoding)
movies['countries'] = movies['countries'].apply(remove_encoding)
movies.head()

,wikipedia_id,freebase_id,name,release_date,box_office_revenue,runtime,languages,countries,genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,[English],[United States of America],"[Thriller, Science Fiction, Horror, Adventure,..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,[English],[United States of America],"[Mystery, Biographical film, Drama, Crime Drama]"
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,[Norwegian],[Norway],"[Crime Fiction, Drama]"
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,[English],[United Kingdom],"[Thriller, Erotic thriller, Psychological thri..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,[German],[Germany],[Drama]

In [16]:
movies['countries'].apply(np.shape).min()

()

## Exploratory Data Analysis

In [ ]:
movies['genres'].hist()